# https://github.com/asdf-community/asdf-plugin-manager/releases
asdf-plugin-manager 1.4.0

# https://github.com/bats-core/bats-core/releases
bats 1.11.1

# https://github.com/babashka/babashka/releases
babashka 1.12.200

# https://github.com/CircleCI-Public/circleci-cli/releases
circleci-cli 0.1.31687

# required for: sosh
# https://adoptium.net/temurin/archive/?version=17
java temurin-17.0.14+7

# https://github.com/koalaman/shellcheck/releases
shellcheck 0.10.0

# https://github.com/mvdan/sh/releases
shfmt 3.11.0
